DB_NAME=taxidb
DB_USER=taxiuser
DB_PASSWORD=changeme

ALERT_EMAIL=your_email@gmail.com
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD="your_gmail_app_password"

# Airflow
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=./airflow
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
# Generate with: python -c "import os, base64; print(base64.urlsafe_b64encode(os.urandom(32)).decode())"
FERNET_KEY=your_generated_fernet_key
